.areaImgs {
    width: 50%;
    padding: 1em;
    margin: 1em ;
    background-color: salmon;
    color: #fff;
    height: 100%;
    text-align: center;
}

.areaImgs img {
    max-width: 95%;


}

@media only screen and (max-width:440px) {
    .areaImgs  {
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    .areaImgs  {
        width: 100%;
    }
}