.cards {
    background-color: #fff;
    border-radius: 1em;
    text-align: center;
    width: 20%;
    height: 30%;
    padding: 1em;
}

.cards img {
    width: 80%;
    height: 95%;
}

.cards span {
    color: #f00;
    font-weight: bold;
}

@media (max-width: 320px) {
    .cards    {
        width: 100%;
        margin: 0.5em;
    }
}

@media (max-width: 768px) {
    .cards    {
        width: 45%;
        margin: 0.5em;
    }
}