.areaLinks {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 55%;
    float: right;
    position: relative;
    margin-top: 5em;
}

@media only screen and (max-width:440px) {
    .areaLinks {
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    .areaLinks {
        width: 100%;
    }
}