.footer {

    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 3em;
}

.social_list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.social_list .item {
    margin: 0 1em;

}

.social_list .item:hover {
    color: #ffbb33;
}

.social-list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 2em;
}

.copyright span {
    font-weight: bold;
    color: #ffbb33;
}