.menuHamburguer {
    /* border: 1px solid #fff; */
    margin-right:1em;
    margin-top: 1em;
    padding: 0.5em 2em;
    border: 2px solid;
}

.menuHamburguerButton {
    background-color: #222;
    border: none;
    max-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.menuHamburguerButton:hover {
    transform: scale(1.07);
}

.menuHamburguerButton .menuHamburguerIcon{
    color: #fff;
    font-size: 3em;
}